@import './reset.css';

html {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 60px;
    box-sizing: border-box;
}

.gradient-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1800ms linear;
}

.gradient-layout.fade-out {
  opacity: 0;
}

.social-block {
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-top: 1px solid rgba(255,255,255,1);
    border-left: 1px solid rgba(255,255,255,1);
    padding: 25px 40px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.social-block__link {
    margin: 15px 0;
    font-size: 18px;
    color: rgba(255,255,255,1);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
}
