@import './reset.css';

html {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #fff;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.gradient-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1800ms linear;
}

.gradient-layout.fade-out {
  opacity: 0;
}

.social-block {
    margin-top: -90px;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.social-block__link {
    margin: 15px 0;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
}

@media (max-width:768px) {
    .social-block__link {
        margin: 25px 30px;
    }
    .social-block__icon:hover .social-block__text {
        display: none;
    }
}
